* {
  box-sizing: border-box;
  margin: 1px;
}

.container-sm {
  width: 25%;
}

.container-m {
  width: 50%
}

.container-lg {
  width: 75%;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
}

.menu-2 {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
  height: 300px;
}

.menu-3 {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
  height: 300px;
}

.menu > a {
  opacity: 0.6;
  color: black;
  text-decoration: none;
}

h1 {
  font-size:
}

h2 {
  font-size:
}

h3 {
  font-size:
}

.address {

}
